#boxCurrency {
    padding-right: 1.2em;
    margin-right: 0px;
}

h1.dataProcess {
    font-size: 1em;
    margin-top: 10px;
    margin-left: auto;
}

h1.statusColor {
    font-weight: bold;
    color: red;
}

.createdColor {
    color: darkcyan;
    font-weight: bold;
}

h1.titleProcess {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 0px;
}

.maDefinition {
    margin-top: -20px;
    padding-top: 5px;
}