<div id="boxBuyer">
  <ion-row>
    <h1 class="titleProcess">
      {{buyerProcess.buyer}}
    </h1>
  </ion-row>
  <ion-row class="ion-align-items-center maDefinition">
    <ion-col size="auto">
      <ion-icon class="iconFormat" name="people-outline"></ion-icon>
    </ion-col>
    <ion-col size="auto">
      <h1 class="locationBuyer">
        {{buyerProcess.contact.name}}
      </h1>
    </ion-col>
    <ion-col size="auto">
      <ion-icon class="iconFormat" name="information-circle-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center maDefinition">
    <ion-col size="auto">
      <ion-icon class="iconFormat" name="mail-outline"></ion-icon>>
    </ion-col>
    <ion-col size="auto">
      <h1 class="locationBuyer">
        {{buyerProcess.contact.email}}
      </h1>
    </ion-col>
    <ion-col size="auto">
      <ion-icon class="iconFormat" name="call-outline"></ion-icon>
    </ion-col>
    <ion-col size="auto">
      <h1 class="locationBuyer">
        {{buyerProcess.contact.phone}}
      </h1>
    </ion-col>
    <ion-col size="auto">
      <ion-icon class="iconFormat" name="recording-outline"></ion-icon>
    </ion-col>
    <ion-col>
      <h1 class="locationBuyer">
        {{buyerProcess.contact.fax}}
      </h1>
    </ion-col>
  </ion-row>
</div>