#boxBuyer {
    margin-left: 1em;
}

h1.titleProcess {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 0px;
}

.maDefinition {
    margin-top: -20px;
    padding-top: 5px;
}

h1.locationBuyer {
    font-size: 1em;
    margin-left: -0.2em;
    margin-top: 10px;
    margin-right: 1em;
}

.iconFormat {
    font-size: 1.5em;
    padding-bottom: -0.02em;
}