#boxAddress {
    padding-left: 1em;
    padding-right: 2em;
    margin-left: 0.5em;
    margin-top: 1em;
}

h1.addressFormat {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: -0.2em;
}

.iconFormat {
    font-size: 1.5em;
    padding-bottom: -0.02em;
}

.addressFormat {
    margin-top: -0.3em;
}